<div class="wrapper wrapper-content">
  <div class="row">
    <h1 class="title">Danh sách tài khoản</h1>

    <table class="list-bots table table-stripped" *ngIf="accounts.length">
      <thead class="thead row">
        <th class="col-lg-6">
          Tên tài khoản
        </th>
        <th class="col-lg-6">
          Số dư tài khoản
        </th>
      </thead>

      <tbody>
        <tr class="one-bot row" *ngFor="let acc of accounts | keys_ar">
          <td *ngIf="acc.key % 2 == 0" class="col-lg-6">
            {{accounts[acc.key]}}
          </td>
          <td *ngIf="acc.key % 2 == 0" class="col-lg-6">
            {{accounts[acc.key+1]}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
